<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="static/style.css" />
    <script src="https://files.worldwind.arc.nasa.gov/artifactory/web/0.9.0/worldwind.min.js" type="text/javascript">
    </script>
    <script src="static/satellite.min.js"></script>
  </head>
  <body>
        
      <!--particulas do Background-->
      <div id="particles-js">
        <div class="navbar">
            <img  class="logo" src="static/src/Logo.png">
        </div>
        <div class="menu">
            <p onclick="openDiscover()">Discover</p>
            <p onclick="openJoin()">Join</p>
        </div>
            <div class="globo">
                <!-- Create a canvas for Web WorldWind. -->
                <canvas id="canvasOne" width="400" height="400">
                    Your browser does not support HTML5 Canvas.
                </canvas>
            </div>
            <script>
        //var tleLine1 = '1 25994U 99068A   19292.38486323 -.00000617  00000-0 -12697-3 0  9995',
        //    tleLine2 = '2 25994  98.1998   5.0419 0001664  92.5052 267.6332 14.57111601 55066';

        var satellites = {
            sat: [
                {
                    name: 'LANDSAT 7',
                    line1: '1 25682U 99020A   19292.84279197 +.00000012 +00000-0 +12440-4 0  9991',
                    line2: '2 25682 098.1166 357.2050 0001000 093.3874 266.7434 14.57157194091054',
                    longitude: '',
                    latitude: '',
                    height: '',
                    distUserSat: '',
                },
                {
                    name: 'TERRA',
                    line1: '1 25994U 99068A   19292.38486323 -.00000617  00000-0 -12697-3 0  9995',
                    line2: '2 25994  98.1998   5.0419 0001664  92.5052 267.6332 14.57111601 55066',
                    longitude: '',
                    latitude: '',
                    height: '',
                    distUserSat: '',
                },
                {
                    name: 'CALIPSO',
                    line1: '1 29108U 06016B   19292.83863207 +.00000104 +00000-0 +29838-4 0  9992',
                    line2: '2 29108 098.1984 236.1499 0001225 083.4155 276.7186 14.62344314717005',
                    longitude: '',
                    latitude: '',
                    height: '',
                    distUserSat: '',
                },
                {
                    name: 'CLOUDSAT',
                    line1: '1 29107U 06016A   19292.83908583 +.00000065 +00000-0 +22275-4 0  9992',
                    line2: '2 29107 098.1992 236.3356 0002840 071.4810 288.6700 14.62339755717014',
                    longitude: '',
                    latitude: '',
                    height: '',
                    distUserSat: '',
                },
                {
                    name: 'EO 1',
                    line1: '1 26619U 00075A   19292.60485778 +.00000021 +00000-0 +12342-4 0  9993',
                    line2: '2 26619 097.8134 288.8321 0008562 277.6278 082.3953 14.64507032290193',
                    longitude: '',
                    latitude: '',
                    height: '',
                    distUserSat: '',
                },
                {
                    name: 'ICON',
                    line1: '1 44628U 19068A   19292.89819397 +.00000345 +00000-0 +13770-4 0  9999',
                    line2: '2 44628 026.9901 169.2089 0019274 224.0746 135.8246 14.91581614001321',
                    longitude: '',
                    latitude: '',
                    height: '',
                    distUserSat: '',
                },
                {
                    name: 'JASON',
                    line1: '1 26997U 01055A   19292.93851832 -.00000061 +00000-0 +21677-5 0  9992',
                    line2: '2 26997 066.0369 114.3595 0007717 277.8874 233.9916 12.83996753836359',
                    longitude: '',
                    latitude: '',
                    height: '',
                    distUserSat: '',
                },
                {
                    name: 'NPP',
                    line1: '1 37849U 11061A   19292.84582509  .00000011  00000-0  25668-4 0  9997',
                    line2: '2 37849  98.7092 229.3263 0000715  98.5313 290.6262 14.19554485413345',
                    longitude: '',
                    latitude: '',
                    height: '',
                    distUserSat: '',
                },
                {
                    name: 'OCO 2',
                    line1: '1 40059U 14035A   19292.88031278 +.00000019 +00000-0 +14219-4 0  9992',
                    line2: '2 40059 098.2049 232.0040 0001281 078.2763 281.8579 14.57114328281847',
                    longitude: '',
                    latitude: '',
                    height: '',
                    distUserSat: '',
                },
                {
                    name: 'QUIKSCAT',
                    line1: '1 25789U 99034A   19292.73626788 -.00000012 +00000-0 +95131-5 0  9994',
                    line2: '2 25789 098.5880 131.9038 0099771 139.6750 221.1896 14.49365513059981',
                    longitude: '',
                    latitude: '',
                    height: '',
                    distUserSat: '',
                },
                {
                    name: 'SAC C',
                    line1: '1 26620U 00075B   19292.87518036 +.00000069 +00000-0 +24504-4 0  9993',
                    line2: '2 26620 098.2322 238.1127 0001515 079.2048 280.9322 14.58861481005861',
                    longitude: '',
                    latitude: '',
                    height: '',
                    distUserSat: '',
                },
                {
                    name: 'SORCE',
                    line1: '1 27651U 03004A   19292.32727683 +.00000056 +00000-0 +20014-4 0  9991',
                    line2: '2 27651 039.9952 240.2148 0022417 121.0292 239.2702 14.89041625908095',
                    longitude: '',
                    latitude: '',
                    height: '',
                    distUserSat: '',
                },
                {
                    name: 'SWIFT',
                    line1: '1 28485U 04047A   19292.34241236  .00000833  00000-0  26556-4 0  9992',
                    line2: '2 28485  20.5571 279.5813 0010966 234.2476 125.6938 15.04459519816983',
                    longitude: '',
                    latitude: '',
                    height: '',
                    distUserSat: '',
                },
                {
                    name: 'TOPEX/POSEIDON',
                    line1: '1 22076U 92052A   19292.86195071 -.00000061 +00000-0 +70995-6 0  9999',
                    line2: '2 22076 066.0382 145.4068 0008044 269.3323 159.2047 12.81023768271989',
                    longitude: '',
                    latitude: '',
                    height: '',
                    distUserSat: '',
                },

            ]
        };

        for (var i = 0; i < satellites.sat.length; i++) {
            var satrec = satellite.twoline2satrec(satellites.sat[i].line1, satellites.sat[i].line2);

            var positionAndVelocity = satellite.propagate(satrec, new Date());

            var positionEci = positionAndVelocity.position;

            var gmst = satellite.gstime(new Date());

            var positionGd = satellite.eciToGeodetic(positionEci, gmst);

            satellites.sat[i].longitude = positionGd.longitude;
            satellites.sat[i].latitude = positionGd.latitude;
            satellites.sat[i].height = positionGd.height;

            satellites.sat[i].longitude = satellite.degreesLong(satellites.sat[i].longitude);
            satellites.sat[i].latitude = satellite.degreesLat(satellites.sat[i].latitude);

            var userLat = -22.412,
                userLong = -45.46;

            var d = (Math.sqrt(Math.pow((userLat - satellites.sat[i].latitude) * 60 * 1852, 2) + Math.pow((userLong - satellites.sat[i].longitude) * 60 * 1852, 2)) / 1000);

            if (d > 20112) {
                d = 40024 - d;

            }
            satellites.sat[i].distUserSat = Math.sqrt(Math.pow(d, 2) + Math.pow(satellites.sat[i].height, 2));


            console.log(satellites.sat[i].name);
            console.log(satellites.sat[i].longitude);
            console.log(satellites.sat[i].latitude);
            console.log(satellites.sat[i].height);
            console.log(satellites.sat[i].distUserSat);

        }









        // Register an event listener to be called when the page is loaded.
        window.addEventListener("load", eventWindowLoaded, false);

        // Define the event listener to initialize Web WorldWind.
        function eventWindowLoaded() {
            // Create a WorldWindow for the canvas.
            var wwd = new WorldWind.WorldWindow("canvasOne");

            // Add some image layers to the WorldWindow's globe.
            wwd.addLayer(new WorldWind.BMNGOneImageLayer());
            // wwd.addLayer(new WorldWind.BMNGLandsatLayer());

            var shapesLayer = new WorldWind.RenderableLayer("Surface Shapes");
            wwd.addLayer(shapesLayer);

            var attributes = new WorldWind.ShapeAttributes(null);
            attributes.outlineColor = WorldWind.Color.BLUE;
            attributes.interiorColor = new WorldWind.Color(0, 1, 1, 0.5);

            var highlightAttributes = new WorldWind.ShapeAttributes(attributes);
            highlightAttributes.interiorColor = new WorldWind.Color(1, 1, 1, 1);
            for (var i = 0; i < satellites.sat.length; i++) {
                var circle = new WorldWind.SurfaceCircle(new WorldWind.Location(satellites.sat[i].latitude, satellites.sat[i].longitude), 130e3, attributes);
                circle.highlightAttributes = highlightAttributes;
                shapesLayer.addRenderable(circle);
            }

           

            // Set up a highlight controller to handle highlighting when the user hovers the shapes.
            var highlightController = new WorldWind.HighlightController(wwd);

        }
    </script>

        <div class="texto">
                <h1>Earth</h1>
                <h2>Living in our world</h2>
        </div>
        <div>
                <img  class="logonasa"src="static/src/nasa.png">
        </div>       
      </div>
      <!-- particles.js lib - https://github.com/VincentGarreau/particles.js -->
      <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
      <!-- stats.js lib -->
      <script src="http://threejs.org/examples/js/libs/stats.min.js"></script>
      <script src="static/main.js"></script>
      
      <div>
          <img  class="logonasa"src="static/src/nasa.png">
      </div>

    <!--Modais-->
    <div id="joinModal" class="modaljoin">

            <!-- Modal content -->
            <div class="modaljoin-content">
                    <h1 class="letra" style="padding-left: 15px;">Join us for Satellite updates</h1>
                    <form action="">
                        <p>
                            <label class="letra" for="name">Name</label>
                            <input type="text" id="name" name="name" placeholder="Your name..">
                        </p>
                        <p>
                            <label class="letra" for="Email">Email</label>
                            <input type="text" id="email" name="email" placeholder="Your email..">
                        </p>
                        <p>
                            <label class="letra" for="address">Address</label>
                            <input type="text" id="address" name="address" placeholder="Country, state, city">
                        </p>
                        <input type="submit" value="Submit">
                    </form>
            </div>
    </div>
    <div id="discoverModal" class="modaldiscover">
        <div class="modaldiscover-content">
            <h1 class="letra" style="padding-left: 15px;">Choose your search filter</h1>
            <form action="">
                <p>
                        <input type="radio" checked="checked" name="radio">
                        <span class="checkmark"></span>
                    <label class="letra" for="Satelites">Satellites</label></br>
                    <select class="opt">
                            <option value="0">Select a Satellite:</option>
                            <option value="1">Landsat 7</option>
                            <option value="2">Calipso</option>
                            <option value="3">Cloudsat</option>
                            <option value="4">EO-1</option>
                            <option value="5">Icon</option>
                            <option value="6">Jason</option>
                            <option value="7">NPP</option>
                            <option value="8">OCO-2</option>
                            <option value="9">QuickScat</option>
                            <option value="10">Sac-c</option>
                            <option value="11">Sorce</option>
                            <option value="12">Swift</option>
                            <option value="13">Terra</option>
                            <option value="14">TOPEX/Poseidon</option>
                    </select>
                </p>
                <p>
                        <input type="radio" checked="checked" name="radio">
                        <span class="checkmark"></span>
                    <label class="letra" for="tema">Theme</label></br>
                    <select class="opt">
                            <option value="0">Select a Theme:</option>
                            <option value="1">Environmental Monitoring</option>
                            <option value="2">Weather Monitoring</option>
                            <option value="3">Visual Monitoring</option>
                            <option value="4">Cyanographic Monitoring</option>
                            <option value="5">Topographic Monitoring</option>
                            <option value="6">Spatial Monitoring</option>
                            <option value="7">Radioactivity Monitoring</option>
                    </select>
                </p>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>    
  </body>
</html>
