<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="static/style.css" />
    <script src="https://files.worldwind.arc.nasa.gov/artifactory/web/0.9.0/worldwind.min.js" type="text/javascript">
    </script>
  </head>
  <body>
        
      <!--particulas do Background-->
      <div id="particles-js">
        <div class="navbar">
            <img  class="logo" src="static/src/Logo.png">
        </div>
        <div class="menu">
            <p onclick="openDiscover()">Discover</p>
            <p onclick="openJoin()">Join</p>
        </div>
            <div class="globo">
                <!-- Create a canvas for Web WorldWind. -->
                <canvas id="canvasOne" width="400" height="400">
                    Your browser does not support HTML5 Canvas.
                </canvas>
            </div>
            <script>
                // Register an event listener to be called when the page is loaded.
                window.addEventListener("load", eventWindowLoaded, false);
        
                // Define the event listener to initialize Web WorldWind.
                function eventWindowLoaded() {
                    // Create a WorldWindow for the canvas.
                    var wwd = new WorldWind.WorldWindow("canvasOne");
        
                    // Add some image layers to the WorldWindow's globe.
                    wwd.addLayer(new WorldWind.BMNGOneImageLayer());
                    wwd.addLayer(new WorldWind.BMNGLandsatLayer());
        
                    var shapesLayer = new WorldWind.RenderableLayer("Surface Shapes");
                    wwd.addLayer(shapesLayer);
        
                    var attributes = new WorldWind.ShapeAttributes(null);
                    attributes.outlineColor = WorldWind.Color.BLUE;
                    attributes.interiorColor = new WorldWind.Color(0, 1, 1, 0.5);
        
                    var highlightAttributes = new WorldWind.ShapeAttributes(attributes);
                    highlightAttributes.interiorColor = new WorldWind.Color(1, 1, 1, 1);
        
                    var position = new WorldWind.Position(45, -100, 1000e3);
        
                    var colladaLoader = new WorldWind.ColladaLoader(position);
                    colladaLoader.init({ dirPath: "file:/ISS/" });
                    colladaLoader.load('ISS.dae', function (scene) {
                        scene.scale = 5000;
                        shapesLayer.addRenderable(scene); // Add the Collada model to the renderable layer within a callback.
                    });
        
                    var circle = new WorldWind.SurfaceCircle(new WorldWind.Location(35, -120), 200e3, attributes);
                    circle.highlightAttributes = highlightAttributes;
                    shapesLayer.addRenderable(circle);
        
                    // Set up a highlight controller to handle highlighting when the user hovers the shapes.
                    var highlightController = new WorldWind.HighlightController(wwd);
        
                }
            </script>

        <div class="texto">
                <h1>Earth</h1>
                <h2>Living in our world</h2>
        </div>
        <div>
                <img  class="logonasa"src="static/src/nasa.png">
        </div>       
      </div>
      <!-- particles.js lib - https://github.com/VincentGarreau/particles.js -->
      <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
      <!-- stats.js lib -->
      <script src="http://threejs.org/examples/js/libs/stats.min.js"></script>
      <script src="static/main.js"></script>
      
      <div>
          <img  class="logonasa"src="static/src/nasa.png">
      </div>

    <!--Modais-->
    <div id="joinModal" class="modaljoin">

            <!-- Modal content -->
            <div class="modaljoin-content">
                    <h1 class="letra" style="padding-left: 15px;">Join us for Satellite updates</h1>
                    <form action="">
                        <p>
                            <label class="letra" for="name">Name</label>
                            <input type="text" id="name" name="name" placeholder="Your name..">
                        </p>
                        <p>
                            <label class="letra" for="Email">Email</label>
                            <input type="text" id="email" name="email" placeholder="Your email..">
                        </p>
                        <p>
                            <label class="letra" for="address">Address</label>
                            <input type="text" id="address" name="address" placeholder="Country, state, city">
                        </p>
                        <input type="submit" value="Submit">
                    </form>
            </div>
    </div>
    <div id="discoverModal" class="modaldiscover">
        <div class="modaldiscover-content">
            <h1 class="letra" style="padding-left: 15px;">Choose your search filter</h1>
            <form action="">
                <p>
                        <input type="radio" checked="checked" name="radio">
                        <span class="checkmark"></span>
                    <label class="letra" for="Satelites">Satellites</label></br>
                    <select class="opt">
                            <option value="0">Select a Satellite:</option>
                            <option value="1">Landsat 7</option>
                            <option value="2">Calipso</option>
                            <option value="3">Cloudsat</option>
                            <option value="4">EO-1</option>
                            <option value="5">Icon</option>
                            <option value="6">Jason</option>
                            <option value="7">NPP</option>
                            <option value="8">OCO-2</option>
                            <option value="9">QuickScat</option>
                            <option value="10">Sac-c</option>
                            <option value="11">Sorce</option>
                            <option value="12">Swift</option>
                            <option value="13">Terra</option>
                            <option value="14">TOPEX/Poseidon</option>
                    </select>
                </p>
                <p>
                        <input type="radio" checked="checked" name="radio">
                        <span class="checkmark"></span>
                    <label class="letra" for="tema">Theme</label></br>
                    <select class="opt">
                            <option value="0">Select a Theme:</option>
                            <option value="1">Environmental Monitoring</option>
                            <option value="2">Weather Monitoring</option>
                            <option value="3">Visual Monitoring</option>
                            <option value="4">Cyanographic Monitoring</option>
                            <option value="5">Topographic Monitoring</option>
                            <option value="6">Spatial Monitoring</option>
                            <option value="7">Radioactivity Monitoring</option>
                    </select>
                </p>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>    
  </body>
</html>
